@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    width: 100%;
    background-image: url(img/body.webp);
    margin: 0;
}
.separation1 {
    background: linear-gradient(179deg, rgb(168 168 168), transparent);
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.separation2 {
    background: linear-gradient(45deg, rgb(111 111 111), transparent);
    height: 20px;
}
.separation3 {
    background: linear-gradient(45deg, rgb(8 8 8), transparent);
    height: 20px;
}

aside {
    background: wheat;
    width: 100%;
}
.logo {
    width: 100%;
    height: 300px;
}
.accroche {
    font-family: sans-serif;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 10px;
}
button {
    background-color: #b72525;
    margin-top: -20px;
    margin-bottom: 20px;
    color: white;
    font-size: 15px;
    border: none;
    padding: 0px 60px 0px 60px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}
button:hover {
    transform: scale(1.05);
}
main {
    width: 1673PX;
}

#separation {
    flex-direction: column-reverse;
}
.separation6 {
    background: linear-gradient(360deg, rgb(168 168 168), transparent);
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.separation5 {
    background: linear-gradient(45deg, rgb(111 111 111), transparent);
    height: 20px;
}
.separation4 {
    background: linear-gradient(45deg, rgb(8 8 8), transparent);
    height: 20px;
}
.fusion {
    display: flex;
    margin-top: -4px;
}
.fusion aside #info .titre4 ul {
    margin-left: 20px;
}
.fusion aside #info .titre4 ul li {
    list-style: none;
}
.fusion aside #info .titre4 ul li a {
    text-decoration: none;
    color: black;
}
.assist {
    width: 100%;
    height: 100%;
}

/*----------------------------------copie------------------------------*/
h4 {
    color: beige;
    width: 100%;
    background: linear-gradient(45deg, black, transparent);
}
#info {
    justify-content: space-around;
    margin-left: -40px;
}
.titre4 {
    margin-right: 60px
}
.fa-solid {
    margin-right: 10px;
}
h4 {
    font-size: initial;
    margin-left: 40px;
}
footer #info .titre4 ul li {
    list-style-type: none;
    line-height: 1.8em;
}
#info .titre4 ul li p {
    font-weight: bold;
    font-style: italic;font-family: sans-serif;
}
footer #info .titre4 ul li a {
    text-decoration: none;
    color: black;
    font-style: italic;
}
/*----------------------------------copie------------------------------*/

@media screen and (max-width:767px) {
    .fusion {
        flex-direction: column-reverse;
    }
    main {
        width: 100%;
    }
    aside {
        margin-top: -4px;
    }
}